.first-container {
  background-image: url(images/pexels-photo-1600x2400.jpg);
  margin-top: -10px;
  padding-top: 5px;
}


a {
  color: blue;
}

#all {
  margin: 15px;
}

a:hover {
  color: #16497C;
}

.headline {
  background-color: #000000;
  margin-top: -20px;
  padding: 10px;
}

.container {
  height: 600px;
}

.divider {
    width:5px;
    height:auto;
    display:inline-block;
}

.beer-history {
}

#map {
  height:600px;
}

#loginbtn {
  margin-right: 15px;
}

.row {
  margin-left: 3px;
}

.row-left-column {
  margin-left: 2px;
}
.left-column {
  margin-top: 80px;
}

.brewery-results {
  color: white;
}

.left-column-top-text {
  color: white;
  font-family: 'Vidaloka', serif;
}

h1 {
  margin-top: 20px;
  font-size: 3.5rem;
  font-family: 'Vidaloka', serif;
}

h2 {
  font-size: 2.0rem;
  font-family: 'Vidaloka', serif;
}

h1, h2 {
  text-align: center;
  color: white;
}

.form-background-color {
  background-color: grey;
  border-radius: 20px;
  padding: 25px;
  opacity: 0.7;
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-transition: width 1.0s ease-in-out;
    transition: width 1.0s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* ====== Modal login form ======== */s

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Set a style for all buttons */
button {
    background-color: #dbdbdb;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* **** The Modal (background)**** */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
/* ===== End Modal Login Form ===== */

/* ===== Modal Registration Form ===== */

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {float:left;width:50%}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}
/* ===== End Modal Registration Form ===== */

/*div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}*/

/*.boxed {
  border: 1px solid grey;
  border-radius: 5px;
  height: 65px;
  width: 300px;
  margin-left: 20px;
  margin-bottom: 5px;
  color: #1F54BF;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: 70px;
  left: 150px;
  margin-top: 10px;
  padding: 10px;

}*/



/*h4 {
  color: grey;
}

h3 {
  color: blue;
}

#theBox {
  height: 100px;
  width: 200px;
  padding: 3px;
  margin: 10px;
}

.title-bar {
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;

}

img {
  opacity: 0.8;
}

#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
