html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.first-container {
  background-image: url(images/pexels-photo-1600x2400.jpg);
  margin-top: -10px;
  padding-top: 5px;
}

a {
  color: blue;
}

#all {
  margin: 15px;
}

a:hover {
  color: #16497C;
}

.headline {
  background-color: #000000;
  margin-top: -20px;
  padding: 10px;
}

.beer-history {
<<<<<<< HEAD
  margin: 30px 90px 30px 120px;
=======
>>>>>>> d20cff65337d1c1a9574882d4cfe9ef97c485e21

}

.left-column {
  margin-top: 80px;
}

.brewery-results {
  color: white;
}

.left-column-top-text {
  color: white;
  font-family: 'Vidaloka', serif;
}

h1 {
  margin-top: 20px;
  font-size: 3.5rem;
  font-family: 'Vidaloka', serif;
}

h2 {
  font-size: 2.0rem;
  font-family: 'Vidaloka', serif;
}

h1, h2 {
  text-align: center;
  color: white;
}

.form-background-color {
  background-color: grey;
  border-radius: 20px;
  padding: 25px;
  opacity: 0.7;
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-transition: width 1.0s ease-in-out;
    transition: width 1.0s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
